@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

section {
	width: 75vw;
	margin: 1rem auto;
	background-color: #eee;
	padding: 1rem;
	border: 1px solid rgba(0,0,0,.1);
}

p {
	text-align: justify;
}

.hero {
	width: 400px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 15px;
	background-color: #247;
	color: #fff;
}

.hero img {
	float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 0 30px #777;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #fff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}