@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-size: 1.0rem;
    font-family: system-ui;
}

.hero-image {
    background-color: #8ea9df;
    background-image: url("../images/white_water_rafting_river.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero h1 {
    color: black;
    position: top;
    text-align: center;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero article {
    position: absolute;
    background-color: rgba(19, 196, 228, 0.5);;
    width: 70%;
    padding: 20px;
    left: 80%;
    margin-top: -40%;
    margin-left: -65%;
    color: white;
}

.hero article img {
    float: right;
    width: 400px;
}
